<div class="img">
    <h1>{{author}}</h1>
    <h2><img class="img" src="{{link}}"><h2>
    <h3>{{description}}</h3>
    <form action="/gallery/{{id}}?_method=DELETE" method="POST" >
     <button type="submit">Delete</button>
     </form>
  </div>